body{
    margin: 0;
    display: flex;
}
.filter{
    position: absolute;
    height: 100vh;
    width: 100vw;
    mix-blend-mode: darken;
    z-index: 5;
}
.colors{
    background: linear-gradient(-65deg, #23d5ab, #f0005d, #23d5ab, #f0005d, #23d5ab, #f0005d, #23d5ab);
    background-size: 100% 1000%;
    animation: AnimationName 100s  infinite;
}
.none{
    background: none;
}
@keyframes AnimationName {
    0% {
    background-position: 0% 100%
    }
    50% {
    background-position: 100% 0%
    }
    100% {
    background-position: 0% 100%
    }
}
.base {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    color: #fff;
    background-color: #000;
    font-family: Gotham, sans-serif;
    font-size: 7vw;
    font-weight: 700;
}
.element{
    margin: 2.5vw;
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    border: 1.5vw solid #fff;
}
.lar{
    flex-grow: 10;
    min-width: 85%;
}
.med{
    flex-grow: 5;
}
.sma{
    flex-grow: 1;
    flex-shrink: 3;
}
.title{
    margin-top: -2vw;
    margin-left: -2vw;
    border: 0;
    display: flex;
    justify-content: space-between;

}
.text{
    background-color: #000;
    color: #fff;
    padding-right: 2vw;
}
.status{
    font-size: 3vw;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.interact{
    color: #fff;
}
.content{
    background-color: #000;
    color: #fff;
    flex-grow: 10;
}
.nofilter{
    z-index: 10;
}
iframe{
    border: none;
    box-sizing: border-box;
    padding: 2vw;
    padding-top: 0; 
    width: 100%;
    height: 100%;
}