@font-face {
  font-family: 'ProggyCleanTTSZBP';
    src:  url('ProggyCleanTTSZBP.ttf.woff') format('woff'),
    url('ProggyCleanTTSZBP.ttf.svg#ProggyCleanTTSZBP') format('svg'),
    url('ProggyCleanTTSZBP.ttf.eot'),
    url('ProggyCleanTTSZBP.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    display: flex;
    animation-duration: 1s;
}
#txt{
    margin: auto;
    color: inherit;
    font-size: 45vw;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    text-align: center;                
}
.light{
    background-color: #c0c0c0;
    color: #000;
    animation-name: bright;
    animation-duration: 3s;
}
.dark{
    background-color: #1f1f1f;
    color: #f0005d;
    animation-name: dim;
    animation-duration: 3s;
}


@keyframes dim {
  0%   {background-color:#c0c0c0;color: #000;}
  100% {background-color:#1f1f1f;color: #f0005d;}
}
@keyframes bright {
  0%   {background-color:#1f1f1f;color: #f0005d;}
  100% {background-color:#c0c0c0;color: #000;}
}