@font-face {
  font-family: 'ProggyCleanTTSZBP';
    src:  url('ProggyCleanTTSZBP.ttf.woff') format('woff'),
    url('ProggyCleanTTSZBP.ttf.svg#ProggyCleanTTSZBP') format('svg'),
    url('ProggyCleanTTSZBP.ttf.eot'),
    url('ProggyCleanTTSZBP.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #c0c0c0;
    color: #000;
    margin: 0;
    display: flex;
}
body:hover{
    background-color: #1f1f1f;
    color: #f0005d;
}
#txt{
    margin: auto;
    color: inherit;
    font-size: 55vw;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    text-align: center;                
}